<a href="https://colab.research.google.com/github/aniketbidgar3/DSBDA-LAb/blob/main/DSBDA_Assignment3_(Part2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install -q kaggle

In [ ]:
iris=pd.read_csv("IRIS.csv")

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
irisSet = (iris['species']== 'Iris-setosa')

In [ ]:
print('Iris-setosa')

Iris-setosa

In [ ]:
print(iris[irisSet].describe())

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [ ]:
print(iris[irisSet].mean())

sepal_length    5.006
sepal_width     3.418
petal_length    1.464
petal_width     0.244
dtype: float64

<ipython-input-27-3ab76b52c953>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisSet].mean())

In [ ]:
print(iris[irisSet].mode())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.0          3.4           1.5          0.2  Iris-setosa
1           5.1          NaN           NaN          NaN          NaN

In [ ]:
print(iris[irisSet].median())

sepal_length    5.0
sepal_width     3.4
petal_length    1.5
petal_width     0.2
dtype: float64

<ipython-input-29-1b8b8eb7cbff>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisSet].median())

In [ ]:
print(iris[irisSet].std())

sepal_length    0.352490
sepal_width     0.381024
petal_length    0.173511
petal_width     0.107210
dtype: float64

<ipython-input-30-fa7a97599e2f>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisSet].std())

In [ ]:
print(iris[irisSet].min())

sepal_length            4.3
sepal_width             2.3
petal_length            1.0
petal_width             0.1
species         Iris-setosa
dtype: object

In [ ]:
print(iris[irisSet].max())

sepal_length            5.8
sepal_width             4.4
petal_length            1.9
petal_width             0.6
species         Iris-setosa
dtype: object

In [ ]:
print(iris[irisSet].quantile())

sepal_length    5.0
sepal_width     3.4
petal_length    1.5
petal_width     0.2
Name: 0.5, dtype: float64

<ipython-input-33-be302640e3ef>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisSet].quantile())

In [ ]:
print(iris[irisSet].skew())

sepal_length    0.120087
sepal_width     0.107053
petal_length    0.071846
petal_width     1.197243
dtype: float64

<ipython-input-34-fd7bd8452426>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisSet].skew())

In [ ]:
irisVer = (iris['species']== 'Iris-versicolor')

In [ ]:
print('Iris-versicolor')

Iris-versicolor

In [ ]:
print(iris[irisVer].describe())

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [ ]:
print(iris[irisVer].mean())

sepal_length    5.936
sepal_width     2.770
petal_length    4.260
petal_width     1.326
dtype: float64

<ipython-input-35-9fd1f3ab4adf>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVer].mean())

In [ ]:
print(iris[irisVer].mode())

   sepal_length  sepal_width  petal_length  petal_width          species
0           5.5          3.0           4.5          1.3  Iris-versicolor
1           5.6          NaN           NaN          NaN              NaN
2           5.7          NaN           NaN          NaN              NaN

In [ ]:
print(iris[irisVer].median())

sepal_length    5.90
sepal_width     2.80
petal_length    4.35
petal_width     1.30
dtype: float64

<ipython-input-37-ac7c95c2a5ad>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVer].median())

In [ ]:
print(iris[irisVer].min())

sepal_length                4.9
sepal_width                 2.0
petal_length                3.0
petal_width                 1.0
species         Iris-versicolor
dtype: object

In [ ]:
print(iris[irisVer].max())

sepal_length                7.0
sepal_width                 3.4
petal_length                5.1
petal_width                 1.8
species         Iris-versicolor
dtype: object

In [ ]:
print(iris[irisVer].std())

sepal_length    0.516171
sepal_width     0.313798
petal_length    0.469911
petal_width     0.197753
dtype: float64

<ipython-input-40-e65b00c4f8c1>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVer].std())

In [ ]:
print(iris[irisVer].quantile())

sepal_length    5.90
sepal_width     2.80
petal_length    4.35
petal_width     1.30
Name: 0.5, dtype: float64

<ipython-input-41-6b441ff677b2>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVer].quantile())

In [ ]:
print(iris[irisVer].skew())

sepal_length    0.105378
sepal_width    -0.362845
petal_length   -0.606508
petal_width    -0.031180
dtype: float64

<ipython-input-42-fb98a5c28ecf>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVer].skew())

In [ ]:
irisVir = (iris['species']== 'Iris-virginica')

In [ ]:
print('Iris-virginica')

Iris-virginica

In [ ]:
print(iris[irisVir].describe())

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [ ]:
print(iris[irisVir].mean())

sepal_length    6.588
sepal_width     2.974
petal_length    5.552
petal_width     2.026
dtype: float64

<ipython-input-44-07b2e27d9866>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVir].mean())

In [ ]:
print(iris[irisVir].mode())

   sepal_length  sepal_width  petal_length  petal_width         species
0           6.3          3.0           5.1          1.8  Iris-virginica

In [ ]:
print(iris[irisVir].median())

sepal_length    6.50
sepal_width     3.00
petal_length    5.55
petal_width     2.00
dtype: float64

<ipython-input-46-8833f96aa2ad>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVir].median())

In [ ]:
print(iris[irisVir].min())

sepal_length               4.9
sepal_width                2.2
petal_length               4.5
petal_width                1.4
species         Iris-virginica
dtype: object

In [ ]:
print(iris[irisVir].max())

sepal_length               7.9
sepal_width                3.8
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

In [ ]:
print(iris[irisVir].std())

sepal_length    0.635880
sepal_width     0.322497
petal_length    0.551895
petal_width     0.274650
dtype: float64

<ipython-input-49-841ecda24483>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVir].std())

In [ ]:
print(iris[irisVir].skew())

sepal_length    0.118015
sepal_width     0.365949
petal_length    0.549445
petal_width    -0.129477
dtype: float64

<ipython-input-50-3120d5b399b7>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVir].skew())

In [ ]:
print(iris[irisVir].quantile())

sepal_length    6.50
sepal_width     3.00
petal_length    5.55
petal_width     2.00
Name: 0.5, dtype: float64

<ipython-input-51-c03d8d422323>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris[irisVir].quantile())

In [ ]:
iris.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width      species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [ ]:
iris.mean()

<ipython-input-20-7eed97565d6e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [ ]:
iris.median()

<ipython-input-21-7f9b4600b8ea>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [ ]:
iris.mode()

   sepal_length  sepal_width  petal_length  petal_width          species
0           5.0          3.0           1.5          0.2      Iris-setosa
1           NaN          NaN           NaN          NaN  Iris-versicolor
2           NaN          NaN           NaN          NaN   Iris-virginica

In [ ]:
iris.min()

sepal_length            4.3
sepal_width             2.0
petal_length            1.0
petal_width             0.1
species         Iris-setosa
dtype: object

In [ ]:
iris.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

In [ ]:
iris.std()

<ipython-input-25-c5ab3f85284a>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [ ]:
iris.skew()

<ipython-input-52-21487a0f66e5>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.skew()

sepal_length    0.314911
sepal_width     0.334053
petal_length   -0.274464
petal_width    -0.104997
dtype: float64

In [ ]:
iris.quantile()

<ipython-input-53-a94de48f2976>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.quantile()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
Name: 0.5, dtype: float64